@charset "UTF-8";


.card-header-actions .card-header { height: 3.5rem; display: flex; align-items: center; justify-content: space-between; padding-top: 0.5625rem; padding-bottom: 0.5625rem; }
.card-header-actions .card-header .dropdown-menu { margin-top: 0px; top: 0.5625rem !important; }


.min-vh-20 {
  min-height: 20vh !important;
}

.min-vh-25 {
  min-height: 25vh !important;
}

.min-vh-30 {
  min-height: 30vh !important;
}

.min-vh-40 {
  min-height: 40vh !important;
}

.min-vh-45 {
  min-height: 45vh !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.min-vh-60 {
  min-height: 60vh !important;
}

.min-vh-70 {
  min-height: 70vh !important;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.bg-login-image {
    background: url("../images/logo200.jpg");
    background-position: center;
    background-size: cover;
}
